*

!docker-compose.yml
!nginx
!nginx/*
!uploads.ini

!wordpress
!wordpress/wp-config.php

!wordpress/wp-content
!wordpress/wp-content/themes
!wordpress/wp-content/themes/blockbase
!wordpress/wp-content/themes/blockbase-child
!wordpress/wp-content/themes/blockbase/*
!wordpress/wp-content/themes/blockbase-child/*

!wordpress/wp-content/plugins
!wordpress/wp-content/plugins/articles-fetcher
!wordpress/wp-content/plugins/articles-fetcher/*

!.gitignore
